extends layout

block content
  div.container
    h1.display-4.m-b-2= title
    div.content
      table.table.table-striped
        thead
          tr
            th Name
            th School
            th School Results
            th CV
            th Status
            th Interview Date
            th Company Score
        tbody
          tr
            td Carlos Patino
            td IPN
            td 9.8
            td link
            td 
              span.label.label-default Pending
            td 13/06/2007
            td 5
          tr
            td Ricardo Patino
            td IPN
            td 9.9
            td link
            td 
              span.label.label-success Interview to be scheduled
            td 
            td 
          tr
            td Luis Patino
            td IPN
            td 9.9
            td link
            td 
              span.label.label-warning Regret
            td 
            td 