                div.form-group
                  label(for="status")
                  select#status
                    option to be reviewed
                    option results needed
                    option interview to be scheduled
                    option regret
                    option withdrew
                    option interview to be schedule
                    option acceped