extends layout

block content
  h1= title
  p You can upload more than one file at a time (max 20). Format of the name will help you prepopullate values in the form to store details about candidates. "Name - School - Score.pdf"
  
  div.container
    div.content
      form.form-horizontal(id="uploadForm" enctype="multipart/form-data" action="candidates/api/cv" method="post")
        input.span3(type="file" name="candidateCVs" multiple value="Hola")
        br 
        input.btn(type="submit", value="Upload CV(s)")
