body {
  padding: 10px;
}

a {
  color: #00B7FF;
}



.radar-chart .area {
  fill-opacity: 0.5;
}
.radar-chart.focus .area {
  fill-opacity: 0.3;
}
.radar-chart.focus .area.focused {
  fill-opacity: 0.9;
}
.area.germany, .germany .circle {
  fill: #FFD700;
  stroke: none;
}
.area.argentina, .argentina .circle {
  fill: #ADD8E6;
  stroke: none;
}
.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}
.tooltip {
  fill: #333333;
}